In [10]:
#import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import psycopg2
from config import username, password
from sqlalchemy import create_engine

In [7]:
#connect to postgres
username = username
password = password
path=f'postgresql://{username}:{password}@localhost:5432/employee_DB'
conn = psycopg2.connect(path)

##other method-------------------------------------------
#conn = psycopg2.connect(
#    host="your_host_name",
#    database="your_database_name",
#    user="your_username",
#    password="your_password"
#)

##another method-----------------------------------------
#engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/employee_DB')
#conn = engine.connect()

In [28]:
departments=pd.read_sql('SELECT * FROM dept_num',conn)
departments.head()

/var/folders/vl/20l4_0ts07bb1xtx5wc99wjm0000gn/T/ipykernel_4717/4134003351.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  departments=pd.read_sql('SELECT * FROM dept_num',conn)

DatabaseError: Execution failed on sql 'SELECT * FROM dept_num': relation "dept_num" does not exist
LINE 1: SELECT * FROM dept_num
                      ^

In [14]:
#query records from the database
salary_data = pd.read_sql("select * from salaries", conn)
salary_data.head()

   emp_no  salary
0   10001   60117
1   10002   65828
2   10003   40006
3   10004   40054
4   10005   78228